<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RavenDbUrl" value="http://localhost:8080"/>
    <add key="DefaultBackupDir" value="C:\Backups-Raven"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>